@model string;
<div class="text-white" style="position:fixed;right:30px;bottom:100px;">
	<a asp-action="Create" asp-controller="@Model" class="btn btn-outline-success">
		<i class="fas fa-regular fa-plus-square mr-3"></i>
		Create</a>
</div>