@{
	ViewData["title"] = "Order Complete";
}
<div class="row">
	<div class="col-md-6 offset-3 alert alert-success text-center">
		<h3>Orders Complete Successfully</h3>
		<hr />
		<a class="btn btn-outline-info" asp-controller="Products" asp-action="Index">
			<i class="fas fa-regular fa-refresh"></i>
			Go To Products
		</a>
	</div>
</div>